@font-face {
  font-family: 'RocknRoll One';
  src: url('../Fonts/RocknRoll One.ttf') format('truetype');
}

@container style(--style: HoL) {
  .scroller__36d07 {

    /* Hide avatar and timestamp */
    .avatar_c19a55,
    .timestamp_c19a55 {
      display: none;
    }

    /* Font */
    .header_c19a55,
    .contents_c19a55>.messageContent_c19a55,
    .content__122e4>.messageContent_c19a55,
    .embedFull__623de {
      font-family: 'RocknRoll One';
      font-size-adjust: 0.5;
      text-shadow: 0px 2px #000;
    }

    /* Header box */
    .header_c19a55 {
      display: inline-block;

      padding: 0 10px 1px 13px;

      text-align: center;

      background-color: var(--color, #237411AA);
      border-radius: 5px;
    }

    /* Remove role color */
    .headerText_c19a55>.username_c19a55 {
      color: #fff !important;
    }

    /* Message text container */
    .contents_c19a55>.messageContent_c19a55,
    .message__5126c>.container_b7e1cb {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      left: 61px;

      min-height: 90px;
      margin-top: 1px;
      margin-right: 51px;
      padding: 0 44px;

      background-color: #000000B5;
      border-radius: 15px;

      overflow-wrap: break-word;
      word-break: break-word;
    }

    /* Restore replies */
    .repliedMessage_c19a55 {
      font-family: var(--font-primary);
      font-size-adjust: none;
      text-shadow: none;
    }

    /* Fix code block width */
    pre {
      display: block;
      width: 100%;

      padding-top: 4px;
      padding-bottom: 10px;
    }

    /* Spacing adjustments */
    .contents_c19a55 {
      margin-left: -45px;
    }

    .message__5126c>.container_b7e1cb {
      justify-content: center;
      left: -56px;

      margin-top: 2px;
      margin-right: -66px;
      padding: 10px 44px;
    }

    .markup__75297 .inline {
      margin: 5px 0;
    }

    .nonVisualMediaItemContainer_f4758a {
      margin-top: 0;
    }

    /* Remove box if it only contains reactions */
    .message__5126c:has(.container_b7e1cb> .reactions__23977:only-child) .container_b7e1cb {
      min-height: revert;
      margin: revert;
      padding: revert;
      
      background: none;
    }

    /* Hide the boxes if they're empty */
    .message__5126c:has(.container_b7e1cb):has(.messageContent_c19a55:empty) .contents_c19a55>.messageContent_c19a55 {
      display: none;
    }

    .message__5126c:has(.container_b7e1cb):has(.container_b7e1cb:empty) .container_b7e1cb {
      display: none;
    }
  }
}