@font-face {
  font-family: "Pop Happiness";
  src: url('../Fonts/Pop Happiness.otf') format('opentype');
}

@container style(--style: SMG) {
  .scroller__36d07 {

    /* Hide avatar, header, and timestamp */
    .avatar_c19a55,
    .header_c19a55,
    .timestamp_c19a55 {
      display: none;
    }

    /* Message text container */
    .contents_c19a55>.messageContent_c19a55,
    .message__5126c>.container_b7e1cb {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      left: 61px;

      min-width: 0;
      min-height: 85px;
      margin-right: 51px;
      margin-bottom: 5px;
      padding: 10px 20px;

      background-color: #FFFFFFCC;
      border-radius: 25px;
      box-shadow: 2px 4px #00000098;

      color: #3C3C3C;
      font-family: 'Pop Happiness';
      font-size-adjust: 0.6;
      text-shadow: 2px 2px #3C3C3C4D;

      overflow-wrap: break-word;
      word-break: break-word;
    }

    /* Outline for emoji */
    img.emoji {
      filter:
        drop-shadow(2px 0 0 #111111) drop-shadow(-2px 0 0 #111111) drop-shadow(0 2px 0 #111111) drop-shadow(0 -2px 0 #111111);
    }

    /* Fix code block width */
    pre {
      display: block;
      width: 100%;
    }

    /* Spacing adjustments */
    .message__5126c:has(.repliedMessage_c19a55) .avatar_c19a55 {
      top: 77px;
    }

    .contents_c19a55 {
      margin-left: -45px;
    }

    .container_b7e1cb {
      margin-left: -116px;
    }
    
    .content__122e4>.container_b7e1cb {
      left: 0;

      margin-left: 0;
    }

    .emojiContainer__75abc {
      padding: 0 4px;
    }

    .markup__75297 .inline {
      margin: 5px 0;
    }

    .nonVisualMediaItemContainer_f4758a {
      margin-top: 0;
    }

    /* Hide the boxes if they're empty */
    .message__5126c:has(.container_b7e1cb):has(.messageContent_c19a55:empty) .contents_c19a55>.messageContent_c19a55 {
      display: none;
    }

    .message__5126c:has(.container_b7e1cb):has(.container_b7e1cb:empty) .container_b7e1cb {
      display: none;
    }

    .message__5126c:has(.container__122e4):has(.messageContent_c19a55:empty) .contents_c19a55>.messageContent_c19a55 {
      display: none;
    }
  }
}


@container style(--style: SMG) and style(--avatar: true) {
  .scroller__36d07 {

    /* Moves the header and avatar to the bottom right */
    .avatar_c19a55 {
      display: revert;
      position: absolute;
      top: 55px;
      left: auto;
      right: 20px;

      margin-top: none;

      border: 2px solid #414141;
      box-shadow: 2px 2px #3C3C3C4D;
    }

    .header_c19a55 {
      display: flex;
      justify-content: flex-end;

      top: 88px;
      left: auto;
      right: 45px;
      z-index: 1;

      margin-top: -22px;

      font-family: 'Pop Happiness';
      text-align: right;
      text-shadow: 1px 1px #3C3C3C4D;
    }
  }
}