@font-face {
  font-family: 'SMW';
  src: url('../Fonts/Super Mario World.ttf') format('truetype');
}

@container style(--style: SMW) {
  .scroller__36d07 {

    /* Hide avatar, role icon, and timestamp */
    .avatar_c19a55,
    .roleIcon_c19a55,
    .timestamp_c19a55,
    .isUnread__908e2 {
      display: none;
    }

    .header_c19a55 {
      display: flex;
      align-items: flex-end;

      margin: 0px -17px;

      border-image-source: url('./Assets/Super Mario World/Border-Top.png');
      border-image-slice: 40 17 0 17;
      border-image-width: 40px 17px 0px 17px;
      border-image-repeat: repeat;

      font-family: 'SMW';
      font-size-adjust: calc(7/22);
    }

    /* Workaround from not being able to replace the avatar */
    .headerText_c19a55 {
      height: 31px;
      margin-top: 7px;
      margin-left: 30px;
      margin-bottom: 2px;

      background-image: url('./Assets/Super Mario World/Luigi.gif');
      background-repeat: no-repeat;
      background-position: left;
    }

    .headerText_c19a55>.username_c19a55 {
      top: 17px;
      margin-left: 58px;

      color: black !important;
      text-transform: uppercase;
    }

    /* Message text container */
    .contents_c19a55,
    .message__5126c>.container_b7e1cb {
      border-style: solid;
      border-width: 0px 17px 0px 17px;

      border-image-source: url('../Assets/Super Mario World/Border.png');
      border-image-slice: 0 17 18 17;
      border-image-width: 0px 17px 0px 17px;
      border-image-repeat: repeat;
    }

    /* Spacing adjustments */
    .groupStart__5126c {
      margin-top: 8px !important;
    }

    .message__5126c {
      margin-top: -4px;
      margin-bottom: 0px;
    }

    .contents_c19a55,
    .message__5126c>.container_b7e1cb {
      margin-left: -56px;
      margin-right: -10px;
    }

    .contents_c19a55>.messageContent_c19a55 {
      margin-left: 0px;
    }

    .contents_c19a55>.messageContent_c19a55,
    .message__5126c>.container_b7e1cb {
      padding: 5px 10px;
    }

    /* Add bottom border to the last message */
    li:has(+ * .groupStart__5126c, + :not(li, .isUnread__908e2:not(.beforeGroup__5126c), .backgroundFlash__5126c)) {

      .message__5126c:has(.container_b7e1cb:empty) .contents_c19a55 {
        border-bottom-width: 18px;
        border-image-width: 0px 17px 18px 17px;
      }

      .message__5126c:has(.container_b7e1cb:not(:empty)) .message__5126c>.container_b7e1cb {
        border-bottom-width: 18px;
        border-image-width: 0px 17px 18px 17px;
      }

      .message__5126c:has(.container_b7e1cb):has(.messageContent_c19a55:empty) .message__5126c>.container_b7e1cb {
        border-bottom-width: 18px;
        border-image-width: 0px 17px 18px 17px;
      }
    }
  }
}
